body {
    font-family: "Montserrat";
  }

p{
  font-size: 2rem;
}

h1{
  font-size: 5rem;
}



  
/* Navigation Bar */

.navigation-bar{
    background-image: url(images/1112.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    padding: 0 18px;
    text-align: right;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

.nav-link {
    font-size: 1.8rem;
    font-family: "Montserrat-Light";
  }

.cd {
  justify-content: right;
}

.donate{
    text-decoration: none;
    text-align: center;
    background-color: #8DFA49;
    border-radius: 3px;
    width: 80px;
}





/* Top Heading */

.top-heading{      
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.top-head{
padding: 2.5rem 0 2.5rem 7rem;
color: #fff;
}


/* Buttons */

.voln-button {
    margin: 3% 2% 2% 0;
    font-size: 5rem;
}






  /* About Section */

.student{
    width: 40rem;
  }

.about-section{
  margin: 5rem 0 2.5rem 20rem;
}

.about-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
}
 
.we-do{
  color: darkorange;
}

.about-wt-we-do{
  font-family: 'Montserrat', sans-serif;
  float: right;
  width: 45rem;
  margin-right: 20rem;
  padding-top: 2rem;
}



/* Overview Section */

.overview-image{
  width: 40rem;
}


.overview{
  background-color: #fff;
  text-align: right;
  margin: 10rem 20rem;
}

.overview-position{
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  float: left;
  width: 45rem;
}

.overview-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  color: darkorange;
  text-align: right;
  
}

.overview-text{
  width: 50rem;
}

.scope{
  color: #000;
}

.overview-section{
  margin-top: 20px;
  
}

/* Volunteer Section */

.volunteer{
  font-family: 'Montserrat', sans-serif;
 
  background-color: darkorange;
  color: #000;
  text-align: center;
  padding: 5rem 0;

}

.volunteer-heading{
  font-size: 5rem;
}

.volunteer-paragraph{
  font-size: 1.5rem;
  color: #fff;
}

/* Team Section */

.team-heading{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  padding-top: 5rem;
}


/* Footer Section */

.bottom-container {
  background-color: darkorange;
  padding: 50px 0 20px;
  /* color: #fff; */
}

/* footer {
    text-align: center;
    background-color: #349e89;
    font-size: 15px;
  	color: #fff;
    margin-bottom: 0;
} */

/* .footer p {
	margin-top: 25px;
	font-size: 15px;
  color: #fff;
}  */

.social{
  font-size: 5rem;
  color: #000;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

@media (max-width: 1028px)  {
    /* Navigation Bar */
.top-heading{      
    font-size: 2.5rem;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    
}

.top-head{
  padding-left: 2rem;
    color: #fff;
}

.navigation-bar{
    background-attachment: fixed;
}

.navbar{
  justify-content: right;
}


.navbar-brand{
  position: relative;
  right: 2%;
}


.donate-item{
  width: 50px;
  position: relative;
  left: 50%;
}


  /* About Section */

  .about{
    text-align: center;
  }

  .student{
    width: 20rem;
    margin: 15px auto;
    display: block;
    
  }

  .about-wt-we-do{
    margin-right: auto;
  }

.about-paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
   /* position: relative; 
    top: auto;
    bottom: auto;
    left: auto;
    right: 50px; */
}

}

